@using Client.Models.CarViewModel
@model CarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit vehicle for @ViewBag.CompanyName</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <input type="hidden" asp-for="CarCompany.CompanyId" />
            <div class="form-group">
                <label asp-for="Car.CreationTime" class="control-label"></label>
                <input asp-for="Car.CreationTime" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Car.VIN" class="control-label"></label>
                <input asp-for="Car.VIN" class="form-control" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="Car.RegNr" class="control-label"></label>
                <input asp-for="Car.RegNr" class="form-control"  disabled="disabled"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="CarOnlineStatus.Online">
                        <input asp-for="CarOnlineStatus.Online" />
                        @Html.DisplayNameFor(m => m.OnlineOrOffline)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>
        <a asp-action="Index" asp-route-companyId="@Model.CompanyId">Back to list</a>
    </p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}